<h2>Create Your Landmark</h2>

<form method="post" action="/landmarks" >

  <label for="landmark_name"></label>
  <input type="text" name="landmark[name]" placeholder="Landmark Name" id="landmark_name">

  <label for="landmark_year_completed"></label>
  <input type="number" name="landmark[year_completed]" placeholder="Year Completed" id="landmark_year_completed">

<br></br>
  <input type = "submit" value = "Create New Landmark">
</form>

<br></br>
  <a href="/landmarks">See all landmarks here</a>
